.ClustersExplorerPage {
    height: calc(100vh - 128px);
    margin: 0 384px;
    padding: 64px;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    &-ListItem.MuiListItem-root {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    &-ListItem.MuiListItem-root:first-child {
        border-bottom-width: 3px;
    }
}
