.JobsExplorerPage {
    height: calc(100vh - 128px);
    margin: 0 384px;
    padding: 64px;
    background-color: white;

    &-ListItem.MuiListItem-root {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 16px;
        width: 100%;
    }
}
